//<ПЕРЕМЕННЫЕ>==========================================================================================================
// BREAK POINTS
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// FONTS
$fontFamily: "Roboto", sans-serif; // Шрифт по умолчанию
$fontSize: 15; // Размер шрифта по умолчанию
$fontTitle: "Montserrat"; // Шрифт заголовков
// COLORS
$mainBackgroundColor: #FaFaFa;
$mainTextColor: #000000; // цвет текста по умолчанию
$hoverColor: #E46533; // корпоративный цвет
//</ПЕРЕМЕННЫЕ>===========================================================================================================